* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

#heading-container {
    /* border: solid 2px black; */
    /* border-bottom: solid 5px cyan; */
    text-decoration-line: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 10px;
    margin-top: 5%;
}

#heading {
    text-align: center;
}



#card-container {
    max-height: none;
    max-width: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1%;

    padding: 5% 4%;
}



.card {
    width: 450px;
    height: 300px;
    position: relative;
    /* perspective: 1000px;   */
    /* transform-style: preserve-3d; */
    border: 1px solid #ccc;  

    display: flex;
    /* gap: 100px; */



}
  
.front-card, .back-card {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;  
    transition: all 0.8s ease;
    text-align: center;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}
  
.front-card {
    /* background-color: #fff;  */
    background-color: cyan;
}
  
.back-card {
    background-color: #007bff;
    color: #fff;
    transform: rotateY(180deg); 
}
  
.card:hover .front-card {
    /* opacity: 1; */
   transform: rotateY(-180deg); 

}
  
 .card:hover .back-card {
   transform: rotateY(0deg);


}

#hello {
    opacity: 1;
}


i {
    opacity: 0;

    font-size: 300%;
    /* transition: 5s; */
}
  
.images {
    height: 100px;
    width: 100px;
    color: green;

}
