@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Protest+Revolution&family=Protest+Riot&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #80D0C7; */
  background-color: black;
}

#heading-container {
  /* border: solid 2px red; */
  /* border-bottom: solid 5px cyan; */
  text-decoration-line: underline;
  text-decoration-color: orange;
  /* text-decoration-color: white; */
  /* text-decoration-style: dashed; */
  text-decoration-thickness: 5px;
  margin-top: 5%;
}

#heading {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  font-family: "Protest Riot", sans-serif;
  /* color: #0093E9; */
  color: red;
}

#heading:hover {
  transition-duration: 2s;
  color: #0093E9;
  /* color: red; */


}

img {
  image-rendering: optimizeQuality;
}

#card-container {
  max-height: none;
  max-width: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 5%;    
  /* give gaps  between cards. */
  padding: 5%;
}

.myCard {
  background-color: transparent;
  width: 450px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 8%;
  border-radius: 20px;
  /* border: solid 5px red; */

}

.title-div {
  color: coral;
}

.title {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: "Dancing Script", cursive;

  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* overflow: hidden; */
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

/* .frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 6%, rgb(255, 204, 112) 100%);
} */

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.frontSide > img {
  height: 100%;
  width: 100%;
  border-radius: 20px;

  overflow: hidden;
}

.backSide {
  justify-content: center;
  gap: 10px;
}

.backSide:hover {
  cursor: auto;
}

.profile {
  height: 40%;
  width: 100%;
  /* padding: 0 20%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: solid 2px red; */
  gap: 25px;
}

.profile img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profile img:hover {
  margin-top: 40px;
  transform: scale(2);
}

.profile p  {
  font-size: 40px;
  font-weight: 200;
  color: black;
  font-family: "Protest Revolution", sans-serif;

}

.links  {
  width: 80%;
  display: flex;
  justify-content: space-around;
  /* border: solid 2px red; */
}

.links a {
  font-size: 40px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

.links a:hover {
  color: orangered;
}


